
  <div class="main">
    <div class="control">
      <mat-form-field class="form-group">
        <mat-label>Сжатие по ширене (пиксели)</mat-label>
        <input matInput type="number" [(ngModel)]="width">
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>Процент сжатия</mat-label>
        <input matInput type="number" [(ngModel)]="percent">
      </mat-form-field>
      <button mat-raised-button color="primary" *ngIf="hasFiles()" (click)="file.clear()">Очистить</button>
      <button mat-raised-button color="primary" (click)="compressFile()" [disabled]="!hasFiles()">Сжать</button>
    </div>

    <app-file #file (files)="onFiles($event)"></app-file>
  </div>



  <div style="visibility: hidden; overflow: hidden; height: 0;" #imgbeforecontainer>
  </div>
